* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 241, 241);
    font-family: Times New Roman, sans-serif;
    border: 2px solid black;
    padding: 2%;
    margin: 1%;
}

.name-with-address {
    float: left;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
.mycontact {
    float: right;
    font-size: 20px;
    text-align: center;
}

.aboutme {
    clear: both;
    padding: 4%;
    overflow: hidden;
}

.aboutme h1,
.workdetails h1,
.educationdetails h1,
.moreeducation h1 {
    font-size: 35px;
    text-align: center;
    border-bottom: 2px solid black;
}
.photo {
    margin-top: 20px;
    margin-right: 15px;
    float: left;
    height: 200px;
    
}

.introduction {
    margin-top: 40px;
    font-size: 20px;
    text-align: left;
    
}

.workdetails,
.educationdetails,
.moreeducation {
    margin: 3%;
}

.workdetails > ol > li,
.educationdetails > ul > li,
.moreeducation {
    margin-top: 20px;
    list-style: none;
    font-size: 20px;
}

.moreeducation > ul {
    list-style: none;
}