body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
display: flex;
justify-content: center;
}

.list {
  margin-top: 5%;
  border: thick solid black;
  line-height: 2;
  padding: 1%;
  padding-right: 3%;
  word-spacing: 2px;
}

h1 {
  text-align: center;
}

.list-render {
  border: 3px solid black;
  padding: 2%;
  margin-bottom: 2%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
